# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Datos y artefactos (generados por notebook)
data/raw/*
data/processed/*
models/*
reports/*

# Mantener carpetas
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/.gitkeep
